<html>
	
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<script type="text/javascript" src="/jquery/js/jquery-1.8.3.js" ></script>
    <link type="text/css" rel="stylesheet" href="/jquery/css/smoothness/jquery-ui-1.9.2.custom.css"/>
    <script type="text/javascript" src="/jquery/js/jquery-ui-1.9.2.custom.min.js"></script>
	<script type="text/javascript" src="/backbone/underscore-min.js" ></script>
	<script type="text/javascript" src="/backbone/backbone.js" ></script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	
    {% block header %}
    <title>{{title}}</title>
    {% endblock %}
  </head>
  	
  <script type="text/javascript"> 
    function debug(mess)
    {
    	var html = $('#debug').html() + mess + '<br/>';
    	$('#debug').html(html);
    }
    function debug1(mess)
    {
    	$('#debug').html(mess);
    }
    Backbone.emulateJSON = true;
    Backbone.emulateHTTP = true;
	var Chapter = Backbone.Model.extend({
		urlRoot : '/chapters', 
		title: '', 
		text: '', 
		parent_key: ''
		});
	var User = Backbone.Model.extend({
		urlRoot : '/users', 
		nickname: '', 
		email: '',
		roles: '',
		});
	var Class = Backbone.Model.extend({
		urlRoot : '/classes', 
		name: '', 
		});
	var Student = Backbone.Model.extend({
		urlRoot : '/students', 
		nickname: '', 
		email: '',
		roles: 'student',
		clss: '',
		});
	var Question = Backbone.Model.extend({
		urlRoot : '/questions', 
		title: '', 
		text: '',
		answer: '',
		type: 'numeric',
		});
	var QuestionList = Backbone.Model.extend({
		urlRoot : '/questionlist', 
		});
	function createQuestionList()
	{
		var QuestionList = Backbone.Model.extend({
			urlRoot : '/questionlist', 
			});
		return new QuestionList({name: '1', questions: []});
	}
	var editQuestionList = createQuestionList();
	function enableQList()
	{
		$("#edit_question_list").html("|	 <a href=\"/questionlistpage?key="+editQuestionList.id+"&edit=true\">Q List</a>");
		$("#edit_question_list").show();
	}
	function disableQList()
	{
		$("#edit_question_list").html("");
		$("#edit_question_list").hide();
	}
	editQuestionList.on('change',function()
	{
		if (editQuestionList.id == undefined)
		{
			disableQList();
			return;
		}
		enableQList();
	});
	{% if edit_question_list %}
		editQuestionList.id = '{{edit_question_list.key()}}';
		editQuestionList.fetch();
	{% endif %}
	$(function(){
		$("#edit_question_list").hide();
		{% if edit_question_list %}
			enableQList();
		{% endif %}
	});
  	{% block head_script %}
  	{% endblock %}
  </script>
  
  <body>
  	
  	<div id="main-body">
  	
  	<table width="100%">
  		<tr> 
		<td style="text-align: right">   
		  	<nav id="main-menu">
		  	  <a href="/">Home</a>

			  {%if user %}
				  {% if user.isAdmin() %}
				  | <a href="/userlist">Manage users</a>
				  | <a href="/_ah/admin">Admin</a>
				  {% endif %}
				  {% if user.isTeacher() %}
				  | <a href="/chapterpage?chapter=root">My chapters</a>
     			  <span id="edit_question_list"></span>
				  {% endif %}
			  {% endif %}

		  	  {%if in_local_login != True %} 
			  	  |
			  	  <a href="{{ login_url }}">{{ login_url_text }}</a>
			  	  {%if login_url_text != 'Logout' %}
				  	  | <a href="{{ local_login_url }}"> Student </a>
			  	  {%endif%}
		  	  {%endif%}

		  	</nav>
		</td> 
  		</tr>
  	</table>
	{% if user %}
	  <div style="margin-bottom: 10px">
	  	User: {{ user_name }}
	  	{% if edit_question_list %}
	  	<br />Edit list {{edit_question_list.name}}
	  	{% endif %}
	  </div>
	{% endif %}
    
  	{% block main %}
  	{% endblock %}
  	
  	<div id="debug"></div>
  	
  	</div>
  </body>
</html>
