<html>
	
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<script type="text/javascript" src="/jquery/js/jquery-1.8.3.js" ></script>
    <link type="text/css" rel="stylesheet" href="/jquery/css/smoothness/jquery-ui-1.9.2.custom.css"/>
    <script type="text/javascript" src="/jquery/js/jquery-ui-1.9.2.custom.min.js"></script>
	<script type="text/javascript" src="/backbone/underscore-min.js" ></script>
	<script type="text/javascript" src="/backbone/backbone.js" ></script>
    {% block header %}
    {% endblock %}
  </head>
  	
  <script type="text/javascript"> 
    Backbone.emulateJSON = true;
    Backbone.emulateHTTP = true;
	var Chapter = Backbone.Model.extend({
		urlRoot : '/chapters', 
		title: '', 
		parent_key: ''
		});
  	{% block head_script %}
  	{% endblock %}
  </script>
  
  <body>
  	
  	<a href="/">Home</a>
  	<a href="{{ login_url }}">{{ login_url_text }}</a>
    
  	{% block main %}
  	{% endblock %}
  	
  </body>
</html>
