<html>
	
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<script type="text/javascript" src="/jquery/js/jquery-1.8.3.js" ></script>
    <link type="text/css" rel="stylesheet" href="/jquery/css/smoothness/jquery-ui-1.9.2.custom.css"/>
    <script type="text/javascript" src="/jquery/js/jquery-ui-1.9.2.custom.min.js"></script>
	<script type="text/javascript" src="/backbone/underscore-min.js" ></script>
	<script type="text/javascript" src="/backbone/backbone.js" ></script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	
    {% block header %}
    <title>{{title}}</title>
    {% endblock %}
  </head>
  	
  <script type="text/javascript"> 
    Backbone.emulateJSON = true;
    Backbone.emulateHTTP = true;
	var Chapter = Backbone.Model.extend({
		urlRoot : '/chapters', 
		title: '', 
		text: '', 
		parent_key: ''
		});
	var User = Backbone.Model.extend({
		urlRoot : '/users', 
		nickname: '', 
		email: '',
		roles: '',
		});
	var Class = Backbone.Model.extend({
		urlRoot : '/classes', 
		name: '', 
		});
	var Student = Backbone.Model.extend({
		urlRoot : '/students', 
		nickname: '', 
		email: '',
		roles: 'student',
		clss: '',
		});
	var Question = Backbone.Model.extend({
		urlRoot : '/questions', 
		title: '', 
		text: '',
		answer: '',
		type: 'numeric',
		});
	var QuestionList = Backbone.Model.extend({
		urlRoot : '/questionlist', 
		name: '',
		});
  	{% block head_script %}
  	{% endblock %}
  </script>
  
  <body>
  	
  	<div id="main-body">
  	
  	<table width="100%">
  		<tr> 
		<td style="text-align: right">   
		  	<nav id="main-menu">
		  	  <a href="/">Home</a>

			  {%if user %}
				  {% if user.isAdmin() %}
				  | <a href="/userlist">Manage users</a>
				  | <a href="/_ah/admin">Admin</a>
				  {% endif %}
				  {% if user.isTeacher() %}
				  | <a href="/chapterpage?chapter=root">My chapters</a>
				  {% endif %}
			  {% endif %}

		  	  {%if in_local_login != True %} 
			  	  |
			  	  <a href="{{ login_url }}">{{ login_url_text }}</a>
			  	  {%if login_url_text != 'Logout' %}
				  	  | <a href="{{ local_login_url }}"> Student </a>
			  	  {%endif%}
		  	  {%endif%}

		  	</nav>
		</td> 
  		</tr>
  	</table>
	{% if user %}
	  <div style="margin-bottom: 10px">User: {{ user_name }}</div>
	{% endif %}
    
  	{% block main %}
  	{% endblock %}
  	
  	</div>
  </body>
</html>
