{% extends "base.html" %}

{% block head_script%}

	var chapter = new Chapter();
	chapter.set('title','{{chapter.title}}');
	chapter.set('parent_key','{{chapter_parent_key}}');
	chapter.id = '{{chapter.key()}}';
	
	$(function(){

		$("#title").val("{{chapter.title}}");
		$("#chapter-text").focus();
		
        $("#save_button").button().click(function(event){
			chapter.save({title: $("#title").val(), text:$("#chapter-text").val()},
			   {
				success: function(model,resp,opt){
					//location.reload();
					window.location.replace("/chapterpage?chapter={{chapter.key()}}");
					},
				error: function(model,resp){ alert('error'+JSON.stringify(resp)); },
				wait: true
			   });
        });
        
		$("#cancel_button").button().click(function(event){
			window.location.replace("/chapterpage?chapter={{chapter.key()}}");
		});
		
		$("#add_question_button").button().click(function(event){
			window.location.replace("/questioneditpage?chapter={{chapter.key()}}&question=new");
		});
		
	});

{% endblock %}

{% block main %}

<div id="chapter_title">Edit chapter "{{chapter.title}}"</div> 

<table >
	<tr>
	<td>Title:</td> 
	<td><input type="text" name="title" id="title"  style="width: 500px"/> </td>
	</tr>
</table>

{% if chapter.text != None%}
<textarea id="chapter-text" rows="25" cols="80">{{chapter.text}}</textarea>
{% else %}
<textarea id="chapter-text" rows="25" cols="80"></textarea>
{% endif %}

{% if has_questions %}
<h2>Questions</h2>
{% for q in questions %}
<h3>Question {{q.title}} </h3>
{{q.text}}<br />
<a href="/questioneditpage?chapter={{chapter.key()}}&question={{q.key()}}">Edit...</a>
{% endfor %}
{% endif %}
<br />
<button id="add_question_button" style="margin-top: 20px">Add question</button>

<div style="margin-top: 10px">
	<button id="save_button">Save</button>
	<button id="cancel_button">Cancel</button>
</div>

{% endblock %}
