{% extends "base.html" %}

{% block head_script%}
$(function(){
	$("#add_image").button().click(function(){
		window.location.replace('/uploadimagepage?chapter={{chapter.key()}}');
	});
	$("#back").button({text:false, icons: {primary: "ui-icon-arrowreturnthick-1-n"}}).click(function(){
		window.location.replace("/chaptereditpage?chapter={{chapter.key()}}");
	});
});
{% endblock %}

{% block main%}
<div>
<span id="back">Back</span>
<button id="add_image">Add image</button>
</div>

{% if not_empty %}
{% for image in images %}
	<div>
		<a href="/imagepage?chapter={{chapter.key()}}&image={{image.key()}}">
		{{image.name}}
		</a>
	</div>
	<div><img src="/img?key={{image.key()}}&thumbnail=true" /></div>
{% endfor %}
{% endif %}

<hr />
{% endblock %}
