{% extends "base.html" %}

{% block main %}  	
	{% if user %}
	  <div>User: {{ user_name }}</div>
	  <ul>
	  {% for role in user.roles%}
	    <li>{{role}}</li>  	  
	  {% endfor %}
	  </ul>
    	<div>What to do:</div>
	  <ul>
	  	<!--
 	  	  <li><a href="/chapterpage?chapter=root">View chapters</a></li>
 	     -->
		  {% if user.isAdmin() %}
		  <li><a href="/userlist">Manage users</a></li>
		  <li><a href="/_ah/admin">Admin</a></li>
		  {% endif %}
	  </ul>
	{% endif %}
	<a href="/test">Test page</a>
{% endblock %}
