{% extends "base.html" %}

{% block head_script%}

	var chapter = new Chapter();
	chapter.set('title','{{chapter.title}}');
	chapter.set('parent_key','{{chapter_parent_key}}');
	chapter.id = '{{chapter.key()}}';
	
	var question = new Question();
	question.id = '{{question.key()}}';
	question.type = '{{question.type}}';

	$(function(){
		
        $("#save_button").button().click(function(event){
			question.save({text: $("#question-text").val(), answer:$("#question-answer").val(), type: question.type},
			   {
				success: function(model,resp,opt){
					window.location.replace("/chapterpage?chapter={{chapter.key()}}");
					},
				error: function(model,resp){ alert('error'+JSON.stringify(resp)); },
				wait: true
			   });
        });
        
		$("#cancel_button").button().click(function(event){
			window.location.replace("/chapterpage?chapter={{chapter.key()}}");
		});
		
		$( "#radio" ).buttonset();
		
		$('[for=type-text]').click(function(){
			question.type = 'text';
		});
		
		$('[for=type-numeric]').click(function(){
			question.type = 'numeric';
		});

		$('[for=type-formula]').click(function(){
			question.type = 'formula';
		});

		if ( question.type == 'text' )
		{
			$('[for=type-text]').click();
		}
		else if ( question.type == 'formula' )
		{
			$('[for=type-formula]').click();
		};
		
	});

{% endblock %}

{% block main %}

<div id="chapter_title">Edit question {{question.title}} in chapter "{{chapter.title}}"</div> 

Question:<br />
<textarea id="question-text" rows="15" cols="80">{{question.text}}</textarea>
<br />

Answer:<br />
<textarea id="question-answer" rows="10" cols="80">{{question.answer}}</textarea>
<br />

<div id="radio">
	<input type="radio" id="type-numeric" name="radio" checked="checked" /><label for="type-numeric">Numeric</label>
	<input type="radio" id="type-formula" name="radio" /><label for="type-formula">Formula</label>
	<input type="radio" id="type-text" name="radio" /><label for="type-text">Text</label>
</div>

<div style="margin-top: 20px">
	<button id="save_button">Save</button>
	<button id="cancel_button">Cancel</button>
</div>

{% endblock %}
