{% extends "base.html" %}

{% block head_script %}
	var chapter = new Chapter();
	chapter.set('title','{{chapter.title}}');
	chapter.set('parent_key','{{chapter_parent_key}}');
	chapter.id = '{{chapter.key()}}';
	$(function(){
		$("#up_button").button({text:false, icons: {primary: "ui-icon-arrowreturnthick-1-n"}}).click(function(){
			window.location.replace("/studentchapterpage?chapter={{chapter_parent_key}}&course={{course.key()}}");
		});
		{% if has_questions %}
		{% for q in questions %}
			$("#submit_answer_{{q.key()}}").button().click(function(){
				var answer = createAnswer("{{q.key()}}",$("#answer-text_{{q.key()}}").val());
				answer.save({},{
					success: function(model, resp, opt){
						//alert('OK: '+JSON.stringify(resp));
						if ( resp.res == 'correct')
						{
							$("#done_{{q.key()}}").show();
							$("#check_{{q.key()}}").show();
							$("#cross_{{q.key()}}").hide();
						}
						else
						{
							$("#done_{{q.key()}}").hide();
							$("#check_{{q.key()}}").hide();
							$("#cross_{{q.key()}}").show();
						}
					},
					error: function(model, resp, opt){
						alert('error'+JSON.stringify(resp));
					},
				});
			});
		{% endfor %}
		{% endif %}
		{% for q in questions %}
			{% if q.result == 'correct' %}
				//$("#correct_{{q.key()}}").hide();
				$("#wrong_{{q.key()}}").hide();
				$("#unmarked_{{q.key()}}").hide();
			{% elif q.result == 'wrong' %}
				$("#correct_{{q.key()}}").hide();
				//$("#wrong_{{q.key()}}").hide();
				$("#unmarked_{{q.key()}}").hide();
			{% elif q.result == 'unmarked' %}
				$("#correct_{{q.key()}}").hide();
				$("#wrong_{{q.key()}}").hide();
				//$("#unmarked_{{q.key()}}").hide();
			{% else %}
				$("#correct_{{q.key()}}").hide();
				$("#wrong_{{q.key()}}").hide();
				$("#unmarked_{{q.key()}}").hide();
			{% endif %}
			$("#check_{{q.key()}}").hide();
			$("#cross_{{q.key()}}").hide();
		{% endfor %}
	});
{% endblock %}

{% block main %}

{% if chapter.title != 'Root' %}
    <div id="chapter-chain">
	{% for p in parents %}
	  <a href="/studentchapterpage?chapter={{p.key()}}&course={{course.key()}}">{{p.title}} :</a>  
	{% endfor %}
	</div>
  <br />
  <span id="up_button"><a href="/studentchapterpage?chapter={{chapter_parent_key}}&course={{course.key()}}">Up</a></span>
{% endif %}

<span id="chapter_title">{{chapter.title}}</span> 
<hr />

{{chapter_formatted_text}}

{% if has_questions %}
<h2>Questions</h2>
{% for q in questions %}
<h3> 
	Question {{q.title}}
	<img src="/images/check.png" id="correct_{{q.key()}}" width="20" height="20"/>
	<img src="/images/cross.png" id="wrong_{{q.key()}}" width="20" height="20"/>
	<img src="/images/question-mark.png" id="unmarked_{{q.key()}}" width="20" height="20"/>
</h3>
{{q.formatted_text}}
<br />
<table >
	<tr>
	<td>Answer:</td> 
	<td> 
		<img src="/images/check.png" id="check_{{q.key()}}" width="10" height="10"/> 
		<img src="/images/cross.png" id="cross_{{q.key()}}" width="10" height="10" /> 
	</td> 
	{% if q.is_open_ended() %}
		<td><textarea id="answer-text_{{q.key()}}" rows="5" cols="80"></textarea> </td>
	{% else %}
		<td><textarea id="answer-text_{{q.key()}}" rows="1" cols="80"></textarea> </td>
	{% endif %}
	</tr>
</table>
<button id="submit_answer_{{q.key()}}">Submit</button>
{% endfor %}
{% endif %}

{% if not subchapters_empty %}
<h2>Sub-chapters</h2>
<ul>
{% for subchapter in subchapters %}
  <li>
  	<a href="/studentchapterpage?chapter={{subchapter.key()}}&course={{course.key()}}">{{ subchapter.title }}</a>
  </li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
