{% extends "base.html" %}

{% block head_script %}
$(function(){
	$("#addbutton").button().click(function(event){
      var student = new Student();
	  student.save(
            {
             nickname: $("#nickname").val(),
             password: $("#password").val(),
             email: '',
             roles: 'student',
             clss: '{{clss.key()}}',
            },
	       {
    		success: function(model,resp,opt){
    			model.id = resp.id;
    			location.reload();
    			},
    		error: function(model,resp){ alert('ERROR'+JSON.stringify(resp)); },
    		wait: true
    	   });
    });
    {% for student in students %}
      $("#{{student.key()}}_delete").button().click(function(event){
      	var stu = new Student();
      	stu.id = '{{student.key()}}';
      	stu.destroy({success: function(){location.reload();}});
      });
    {% endfor %}
    $("#add_question_list").button().click(function(event){
    	location.replace('/createquestionlist?parent={{clss.key()}}&goto=/teacherclass?class={{clss.key()}}');
    });
    $("#add_course").button().click(function(event){
    	location.replace('/createcourse?parent={{clss.key()}}&goto=/teacherclass?class={{clss.key()}}');
    });
    $("#get_unique_name").button().click(function(event){
    	$.ajax('/getuniquename',{
    		success: function(data,status,jqxhr){$("#nickname").val(data);}
    	})
    });
    $("#delete_students").button().click(function(event){
    	var n = selected_students.length; 
    	if (n == 0) return;
    	for (s in selected_students)
    	{
	      	var stu = new Student();
	      	stu.id = selected_students[s];
	      	if (s < n - 1)  	{
	      	   stu.destroy();
	      	}
	      	else
	      	{
	      	   stu.destroy({success: function(){ location.reload();}  });
	      	}
        }
      });
    $("#delete_students").hide();
});
var selected_students = [];
function student_checked(box)
{
	if (box.checked)
	{
		selected_students.push(box.value);
	}
	else
	{
		var i = selected_students.indexOf(box.value);
		selected_students.splice(i,1);
	}
	if (selected_students.length > 0)
	{
		$("#delete_students").show();
	}
	else
	{
		$("#delete_students").hide();
	}
}
{% endblock %}

{%block main%}
<h3> Class {{ clss.name }}</h3>
<hr />
<table>
    <tr>
    	<th></th>
    	<th>Nickname</th>
    	<th>Password</th>
    </tr>
	{% for student in students %}
		<tr>
    		<td > <input type="checkbox" value="{{student.key()}}" class="check_student" onchange="student_checked(this)"/> </td>
    		<td > {{ student.nickname() }} </td>
    		<td > {{ student._passwd }} </td>
		</tr>
	{% endfor %}
</table>
<button id="delete_students">Delete students</button>
<hr />
<table>
	<tr> <td> Nickname: </td> <td> <input type="text" name="nickname" id="nickname" /> </td></tr>
	<tr> <td> Password: </td> <td> <input type="text" name="password" id="password" /> </td></tr>
</table>
<div>
	<button id="addbutton">Add</button>
	<button id="get_unique_name">Unique</button>
</div>

<h3>Courses</h3>
{% for course in courses %}
<a href="/coursepage?key={{course.key()}}&edit=true&goto=/teacherclass?class={{clss.key()}}">{{course.name}}</a>
<br />
{% endfor %}

<button id="add_course">Add course</button>

<h3>Question lists</h3>
{% for qlist in qlists %}
<a href="/questionlistpage?key={{qlist.key()}}&edit=true&goto=/teacherclass?class={{clss.key()}}">{{qlist.name}}</a>
<br />
{% endfor %}

<button id="add_question_list">Add question list</button>

{%endblock%}
