{% extends "base.html" %}

{% block head_script %}
$(function(){
	$("#addbutton").button().click(function(event){
      var student = new Student();
	  student.save(
            {
             nickname: $("#nickname").val(),
             password: $("#password").val(),
             email: '',
             roles: 'student',
             clss: '{{clss.key()}}',
            },
	       {
    		success: function(model,resp,opt){
    			model.id = resp.id;
    			location.reload();
    			},
    		error: function(model,resp){ alert('ERROR'+JSON.stringify(resp)); },
    		wait: true
    	   });
    });
    {% for student in students %}
      $("#{{student.key()}}_delete").button().click(function(event){
      	var stu = new Student();
      	stu.id = '{{student.key()}}';
      	stu.destroy({success: function(){location.reload();}});
      });
    {% endfor %}
    $("#add_question_list").button().click(function(event){
    	location.replace('/createquestionlist?parent={{clss.key()}}&goto=/teacherclass?class={{clss.key()}}');
    });
});
{% endblock %}

{%block main%}
<h3> Class {{ clss.name }}</h3>
<hr />
<table width="100%">
	{% for student in students %}
		<tr>
    		<td > {{ student.nickname() }} </td>
    		<td style="text-align: right"> <button id="{{student.key()}}_delete">Delete</button> </td>
		</tr>
	{% endfor %}
</table>

<hr />
<table>
	<tr> <td> Nickname: </td> <td> <input type="text" name="nickname" id="nickname" /> </td></tr>
	<tr> <td> Password: </td> <td> <input type="text" name="password" id="password" /> </td></tr>
</table>
<div>
	<button id="addbutton">Add</button>
</div>

<h3>Question lists</h3>
{% for qlist in qlists %}
<a href="/questionlistpage?key={{qlist.key()}}&edit=true&goto=/teacherclass?class={{clss.key()}}">{{qlist.name}}</a>
<br />
{% endfor %}

<button id="add_question_list">Add question list</button>

{%endblock%}
