{% extends "base.html" %}

{% block head_script %}
$(function(){
    $("#add_question_list").button().click(function(event){
    	location.replace('/createquestionlist?parent={{clss.key()}}&goto=/teacherclass?class={{clss.key()}}');
    });
    $("#add_course").button().click(function(event){
    	location.replace('/createcourse?parent={{clss.key()}}&goto=/teacherclass?class={{clss.key()}}');
    });

});
{% endblock %}

{%block main%}
<h2> Class {{ clss.name }}</h2>
<a href="/teacherclassedit?class={{clss.key()}}">Edit...</a>
<hr />
<table>
    <tr>
    	<th>Name</th>
    </tr>
	{% for student in students %}
		<tr>
    		<td > <a href="/teacherstudent?class={{clss.key()}}&student={{student.key()}}"> {{ student.full_name() }} </a> </td>
    		{% for p in student.progress %}
	    		<td > {{ p }} </td>
    		{% endfor %}
		</tr>
	{% endfor %}
</table>

<h3>Courses</h3>
<ul>
{% for course in courses %}
<li>
<a href="/coursepage?key={{course.key()}}&edit=true&goto=/teacherclass?class={{clss.key()}}">{{course.name}}</a>
</li>
{% endfor %}
</ul>

<button id="add_course">Add course</button>

<h3>Question lists</h3>
<ul>
{% for qlist in qlists %}
<li>
<a href="/questionlistpage?key={{qlist.key()}}&edit=true&goto=/teacherclass?class={{clss.key()}}">{{qlist.name}}</a>
</li>
{% endfor %}
</ul>

<button id="add_question_list">Add question list</button>

{%endblock%}
