{% extends "base.html" %}

{% block head_script %}
$(function(){
	//$("#roles").combobox();
	$("#addbutton").button().click(function(event){
      var new_user = new User();
	  new_user.save(
            {
             nickname: $("#nickname_text").val(),
             password: $("#password_text").val(),
             email: $("#email_text").val(),
             roles: $("#roles").val(),
            },
	       {
    		success: function(model,resp,opt){
    			model.id = resp.id;
    			location.reload();
    			},
    		error: function(model,resp){ alert('error'+JSON.stringify(resp)); },
    		wait: true
    	   });
    });
    {% for u in user_list %}
      $("#{{u.key()}}_delete").button().click(function(event){
      	var duser = new User();
      	duser.id = '{{u.key()}}';
      	duser.destroy({success: function(){location.reload();}});
      });
    {% endfor %}
});
{% endblock %}

{% block main%}

    Users:<br/>
	<table width="100%">
    {% for u in user_list %}
		<tr>
    		<td> {{ u.nickname() }} </td>
    		<td style="text-align: right"> <button id="{{u.key()}}_delete">Delete</button> </td>
		</tr>
    {% endfor %}
	</table>

	<hr />
	<table>
		<tr> <td> Nickname: </td> <td> <input type="text" name="nickname" id="nickname_text" /> </td></tr>
		<tr> <td> Password: </td> <td> <input type="text" name="password" id="password_text" /> </td></tr>
		<tr> <td> EMail:    </td> <td> <input type="text" name="email" id="email_text" />       </td></tr>
		<tr>
			<td> <label>Role: </label> </td>
			<td><select id="roles">
				<option value="student">Student</option>
				<option value="teacher">Teacher</option>
				<option value="admin">Admin</option>
			</select></td>
		</tr>

	</table>
	<div>
		<button id="addbutton">Add</button>
	</div>

{% endblock %}
