{% extends "base.html" %}

{% block head_script %}

var UserCollection = Backbone.Collection.extend({
  model: User
});
var Users = new UserCollection(); 
var Selection = new UserCollection();

$(function(){
	//$("#roles").combobox();
	$("#addbutton").button().click(function(event){
      var new_user = new User();
	  new_user.save(
            {
             nickname: $("#nickname_text").val(),
             password: $("#password_text").val(),
             email: $("#email_text").val(),
             roles: $("#roles").val(),
            },
	       {
    		success: function(model,resp,opt){
    			model.id = resp.id;
    			location.reload();
    			},
    		error: function(model,resp){ 
    			//alert('error'+JSON.stringify(resp));
    			$("#error").html(resp.responseText); 
    			},
    		wait: true
    	   });
    });
    {% for u in user_list %}
          var user = new User({'nickname':'{{u.nickname()}}'});
	      user.id = '{{u.key()}}';
	      Users.add(user);
    {% endfor %}
	$("#deletebutton").button().click(function(event){
		while( Selection.length > 0 )
		{
		  	var duser = Selection.pop();
		 	duser.destroy({success: function(){ if (Selection.length == 0){ location.reload();} }});
		 	//duser.destroy();
	    }
	});
});

function user_checked(box)
{
	var user = Users.get(box.value);
	if (box.checked)
	{
		//alert(user.get('nickname'));
		Selection.add(user);
	}
	else
	{
		Selection.remove(user);
	}
}

{% endblock %}

{% block main%}

    Users:<br/>
	<table>
    {% for u in user_list %}
		<tr>
			<td> <input type="checkbox" value="{{u.key()}}" class="user" onchange="user_checked(this)"/> </td>
    		<td> {{ u.nickname() }} </td>
    		<td> {{ u.roles }} </td>
    		<td> {{ u.email() }} </td>
		</tr>
    {% endfor %}
	</table>

	<hr />
	<p> Nickname is the account name if email is ...@gmail.com of full email otherwise.</p> 
	<table>
		<tr> <td> Nickname: </td> <td> <input type="text" name="nickname" id="nickname_text" /> </td></tr>
		<!--<tr> <td> Password: </td> <td> <input type="text" name="password" id="password_text" /> </td></tr>-->
		<!--<tr> <td> EMail:    </td> <td> <input type="text" name="email" id="email_text" />       </td></tr>-->
		<tr>
			<td> <label>Role: </label> </td>
			<td><select id="roles">
				<!--<option value="student">Student</option>-->
				<option value="teacher">Teacher</option>
				<option value="admin">Admin</option>
			</select></td>
		</tr>

	</table>
	<div>
		<button id="addbutton">Add</button>
		<button id="deletebutton">Delete selected</button>
	</div>
	<div id="error" class="error_string"></div>

{% endblock %}
