body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 80%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a:link {text-decoration:none;}

table {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 100%;
}


#container {
  /*width: 800px;*/
  box-shadow: 0 0 30px #ccc;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px 5px 5px;
  min-height:100%;
  position:relative;
}

#header {
	background: url("/images/main-menu-bg.png");
	height: 25px;
	overflow-y: hidden;
	border: 1px solid #CCCCCC;
	border-radius: 6px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 120%;
}

#header a {
  text-decoration: none;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

#footer {
   position:absolute;
   bottom:0;
   width:99%;
   height:60px;   /* Height of the footer */
}

#chapter_title {
	font-size: 200%;
	font-weight: 200;
	margin-bottom: 30px;
}

#chapter-chain {
  margin: 0px 0px 5px 0px;
}

.error_string {
	color: red;
	margin-bottom: 20px;
	margin-top: 20px;
}

.login-link {
	border: 1px solid #CCCCCC;
	border-radius: 6px;
	padding: 10px;
}

.login-link-container {
	margin-bottom: 40px;
}
